@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@300&display=swap');

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

:root {
    --cor1: #590d13;
    --cor2: #86131d;
    --cor3: #FCE9EA;
    --cor4: #222222;
    --cor5: #333333;
    --font: 'Comic Neue', cursive;
}

body{
    background-color: var(--cor1);
    font-size: 1.4rem;
    font-family: var(--font);
    color: var(--cor3);
}

.card{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    max-width: 100%;
    padding: 10px;
    margin: 0px auto;
    grid-gap: 15px;
    text-align: center;
}

.card-img{
    background-color: var(--cor4);
    padding: 5px;
    border-radius: 7px;
}

.card-body {
    padding: 5px;
}

img{
    max-width: 100%;
    display: block;
    border-radius: 5px;
}

p {
    font-size: 1.0rem;
    margin: 3px 0 3px 0;
}

header{
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 65px 10px 65px;
}

#tittle{
    display: block;
    align-items: center;
}

h1{
    margin-left: -24px;
    font-size: 30px;
}

#img-nav {
    width: 50px;
}

nav {
    font-size: 20px;
}

main {
    border-top: 0.4px solid #FFF2E7;
}

@media (max-width: 900px) {
    .card {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (max-width: 600px) {
    .card {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 400px) {
    .card {
        grid-template-columns: repeat(2, 1fr);
    }
}